body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    background-color: rgb(254, 203, 7);
    border: 5px solid rgb(238, 156, 178);
    border-radius: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: lightseagreen;
    margin: 5px;
    
}

#container {
    display: flex;
    max-height: 550px;
    gap: 5px;
}

#sardine-container {
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178) ;
    border-radius: 30px;
    padding: 10px;
    flex: 3;
    text-align: center;
    justify-content: center;  
}

.cat-container {
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178) ;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    flex: 3;
    overflow: hidden;   
}

.living-room {
    border: 5px solid rgb(238, 156, 178) ;
    border-radius: 30px;
}

.cat-shop-container {
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    flex: 3;
    overflow-y: auto;
    max-height: 555px; 
}

.shelf {
    display: flex;              
    align-items: center;        
    gap: 10px;                  
    justify-content: flex-start; 
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178);
    border-radius: 10px;
    padding: 10px;
}

#footer {
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: 5px;
}