* {
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#header {
    background-color: rgb(254, 203, 7);
    border: 5px solid rgb(238, 156, 178);
    border-radius: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

h3{
    color: grey;
}

#container {
    display: flex;
    max-height: 550px;
    gap: 5px;
}

#sardine-container {
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178) ;
    border-radius: 30px;
    padding: 10px;
    flex: 3;
    text-align: center;
    justify-content: center;  
}

.cat-container {
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178) ;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    flex: 3;
    overflow: hidden;  
    min-height: 400px; 
    position: relative;
}

.living-room {
    border: 5px solid rgb(238, 156, 178) ;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.Achivments {
  position: relative; 
  display: flex; 
  color: rgb(46, 46, 107);
  font-weight: bold;
}

#Ach1, #Ach2, #Ach3, #Ach4, #Ach5, #Ach6 {
    padding: 4px;
    display: none;
}

.Achivments {
    font-size: 11.7px;
    font-family: cursive;
}

.cat-shop-container {
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178);
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    flex: 3;
    overflow-y: auto;
    max-height: 555px; 
}

.shelf {
    display: flex;              
    align-items: center;        
    gap: 10px;                  
    justify-content: flex-start; 
    background-color: lightgoldenrodyellow;
    border: 5px solid rgb(238, 156, 178);
    border-radius: 10px;
    padding: 10px;
}

.help-container {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.help-icon {
    background-color: rgb(238, 156, 178);
    color: white;
    border-radius: 50%;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    float: right;
}

.help-panel p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(37, 37, 86);
}
.help-panel li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: rgb(218, 110, 128);
}

.help-panel {
    position: absolute;
    top: 40px;
    right: 0;
    width: 250px;
    background-color: white;
    border: 3px solid rgb(238, 156, 178);
    border-radius: 15px;
    padding: 15px;
    display: none;
    z-index: 1000;
    text-align: center;
}

.help-container:hover .help-panel {
    display: block;
}

#footer {
    background-color: rgb(254, 203, 7);
    border: 5px solid rgb(238, 156, 178);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: 5px;
}